.App {
  //width: 75%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  //text-align: center;
  background: #272624
}

.Content {
  width: 75%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  //text-align: center;
  background: #FFFFFF
}

#wholeContainer{
  padding-top: 1.5%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.input[type=text] {
  //width: 30%;
  //padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}


.span {
  display: inline; /* the default for span */
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;  
  background-color: yellow; 
}
.mHead {
  margin: 0.3%;
  padding : 0.3%;
}

#search_name{
  width: 100%;
  //max-width: 250px;
}
#fid{
  width: 100%;
  margin: 0.3%;
  padding : 0.3%;
}

#ccard{
  margin-top: 5%;
}

#consResultCardDeck{
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 5%;
}
#servResultCardDeck{
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 5%;
}

#Carddeck{
  margin-left: 1%;
  margin-right: 1%;
  //align-items: center;
}
#ContractorSearchBox{

}
#searchContainer{
  align-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#resultsContainer{

}

#sortRow{
  margin: 1.5%
}

#infodiv{
  align-items: center;
}
.Infoimage{
  max-width: 100%;
  padding-top: 5%;
  margin-right: 0.5%;
  margin-left: 0.5%;

} 

#pikachu{
  line-height: 13px;
}

#defaultMsg{
  min-height: 500px
}

.Input {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-bottom: 1px solid #58a4b0;
  margin: 0 20px;
}
.Input input {
  border: 0;
  background: transparent;
  padding: 2px 10px;
  margin: 18px 4px 0 4px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
}
.Input input:required {
  box-shadow: none;
}
.Input input:focus ~ label {
  opacity: 1;
}
/*.Input input[type='text'] ~ label::before {
  content: "";
}
.Input input[type='password'] ~ label::before {
  content: "";
}*/
label::before {
  padding: 5px 5px 0 0;
  opacity: 0.5;
}

/*form button {
  position: relative;
  margin: 15px 0 5px 0;
  left: 50%;
  transform: translateX(-50%);
  background: #58a4b0;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  width: 85%;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  cursor: pointer;
}*/

#usernameLogin{
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  background: transparent;
}
#passwordLogin{
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  background: transparent;
}

#loginbox{

}

#loginPage{
  //position :absolute;
  padding-top: 10%;
  min-height: 100vh;
}
#homeItem2{
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}
.Page{
  min-height: 100vh;
}
.PageBody{
  padding-top: 20%;
}
.PageBody2{
  padding-top: 3%;
}
.PageBody3{
  padding-top: 10%;
}
#Step{
  padding-left: 2%;
}

#ConTable{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#profilePicture{
  max-width: 300px;
}

#servicePicture{
  max-width: 300px;
}

#natIDPicture{
  max-width: 300px;
}

#homeSlideLabel{
    //font-size: 0px;
    color: #FFFFFF;
    text-shadow: 0px 0px 5px #000000;
    font-size: calc(1em + 1vw)
}

@media screen and (max-width:600 ){
  #homeSlideLabel{
    color: transparent;
  }
}